<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.description}}" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="{{'/favicon.ico' | prepend: site.baseurl}}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description" content="{{page.description}}">
<meta name="twitter:image" content="{{'/favicon.ico' | prepend: site.baseurl}}">
