<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-brand" href="#">Joshua Fayer</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{'/' | absolute_url}}">Portfolio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.joshuafayer.com/">Back to main website</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="{{'/code-of-ethics' | absolute_url}}">Code of Ethics</a></li>
    </ul>
  </div>
</nav>
