<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include metas.html %}
    <title>{{site.title}}</title>
    {% include general.html %}
  </head>
  <body>
    <!-- navigation -->
  	{% include nav.html %}

    <!-- labels -->
  	<div id="labelcontainer" class="container">
  		<div class="list-group-item labels noselect">
  			<div style="margin: 0 auto">
  				<button class="sorts" data-sort="*"><p class="active">All</p></button>
  				<button class="sorts" data-sort=".design"><p>Design</p></button>
  				<button class="sorts" data-sort=".content-writing"><p>Content Writing</p></button>
  				<button class="sorts" data-sort=".music"><p>Music</p></button>
  				<button class="sorts" data-sort=".web-dev"><p>Web Development</p></button>
  				<button class="sorts" data-sort=".social"><p>Social Media</p></button>
  				<button class="sorts" data-sort=".internship"><p>Internship Work</p></button>
  			</div>
  		</div>
  	</div>

  		<!-- cards -->
	<div class="container-fluid">
		<div class="columns">
      {% assign sortedcards = site.cards | sort: 'order' %}
      {% for card in sortedcards | sort: card.sort %}
        {% if card.pin %}
        <div class="card{% for tag in card.tags %}{% for tagmeta in site.tagdata %}{% if tag == tagmeta.name %} {{tagmeta.sortby}}{% endif %}{% endfor %}{% endfor %}">
          <h3 class="card-header">{{card.title}}</h3>
          {% if card.img %}
            <img src="/assets/images/{{card.img}}" class="card-img-top" alt="{{card.alt}}">
          {% endif %}
          <div class="list-group-item">
            {% for tag in card.tags %}
              {% for tagmeta in site.tagdata %}
                {% if tag == tagmeta.name %}
                  <button class="sorts" data-sort=".{{tagmeta.sortby}}"><p>{{tagmeta.name}}</p></button>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          <div class="card-block">
            <p>{{card.content}}</p>
            <button class="btn btn-large" id="{{card.id}}" data-toggle="modal" data-target="{{card.modaltarget}}">Read More</button>
            <div class="fixer"></div>
          </div>
        </div>
        {% endif %}
      {% endfor%}
      {% for card in site.cards %}
        {% unless card.pin %}
        <div class="card{% for tag in card.tags %}{% for tagmeta in site.tagdata %}{% if tag == tagmeta.name %} {{tagmeta.sortby}}{% endif %}{% endfor %}{% endfor %}">
          <h3 class="card-header">{{card.title}}</h3>
          {% if card.img %}
            <img src="/assets/images/{{card.img}}" class="card-img-top" alt="{{card.alt}}">
          {% endif %}
          <div class="list-group-item">
            {% for tag in card.tags %}
              {% for tagmeta in site.tagdata %}
                {% if tag == tagmeta.name %}
                  <button class="sorts" data-sort=".{{tagmeta.sortby}}"><p>{{tagmeta.name}}</p></button>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          <div class="card-block">
            <p>{{card.content}}</p>
            <button class="btn btn-large" id="{{card.id}}" data-toggle="modal" data-target="{{card.modaltarget}}">Read More</button>
            <div class="fixer"></div>
          </div>
        </div>
        {% endunless %}
      {% endfor%}
      <!-- modals -->
		</div> <!--card-columns closure-->

    {% for modal in site.modals %}
      <div class="modal fade" id="{{modal.ident}}" tabindex="-1" role="dialog" aria-labelledby="{{modal.label}}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{modal.label}}">{{modal.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if modal.img %}
                {% if modal.imgsrc %}
                  <a target="_blank" href="{{modal.imgsrc}}"><img class="modal-image" src="/assets/images/{{modal.img}}" alt="{{modal.alt}}"></a>
                {% else %}
                  <a target="_blank" href="/assets/images/{{modal.img}}"><img class="modal-image" src="/assets/images/{{modal.img}}" alt="{{modal.alt}}"></a>
                {% endif %}
              {% endif %}
              {{modal.content}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
	</div> <!--container closure-->

  <!-- my js -->
  <script type="text/javascript" src="js/scripts.js"></script>


  </body>
</html>
